USE [master]
GO
/****** Object:  Database [PM02AutoShowBD]    Script Date: 06.07.2023 1:38:02 ******/
CREATE DATABASE [PM02AutoShowBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PM02AutoShowBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PM02AutoShowBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PM02AutoShowBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PM02AutoShowBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PM02AutoShowBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PM02AutoShowBD]
GO
/****** Object:  Table [dbo].[Автомобили]    Script Date: 06.07.2023 1:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Автомобили](
	[id_Автомобиля] [int] IDENTITY(1,1) NOT NULL,
	[Марка] [nvarchar](100) NULL,
	[КодПоставщика] [int] NULL,
	[Цвет] [nvarchar](100) NULL,
	[КоличествоМест] [nvarchar](100) NULL,
	[МаксимальнаяСкорость] [nvarchar](100) NULL,
	[КодТипаДвигателя] [int] NULL,
	[РабочийОбъёмДвигателя] [nvarchar](100) NULL,
	[КодСистемыПодачиТоплива] [int] NULL,
	[РасходТоплива] [nvarchar](100) NULL,
	[Цена] [money] NULL,
	[ВНаличии] [nvarchar](100) NULL,
 CONSTRAINT [PK_Автомобили] PRIMARY KEY CLUSTERED 
(
	[id_Автомобиля] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Договоры]    Script Date: 06.07.2023 1:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Договоры](
	[id_Договора] [int] IDENTITY(1,1) NOT NULL,
	[Дата] [date] NULL,
	[КодСотрудника] [int] NULL,
	[КодАвтомобиля] [int] NULL,
	[КодКлиента] [int] NULL,
	[КодСпособаОплаты] [int] NULL,
	[СтатусВыполнения] [nvarchar](100) NULL,
 CONSTRAINT [PK_Договоры] PRIMARY KEY CLUSTERED 
(
	[id_Договора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Должности]    Script Date: 06.07.2023 1:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должности](
	[id_Должности] [int] IDENTITY(1,1) NOT NULL,
	[НаименованиеДолжности] [nvarchar](100) NULL,
 CONSTRAINT [PK_Должности] PRIMARY KEY CLUSTERED 
(
	[id_Должности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 06.07.2023 1:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[id_клиента] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](100) NULL,
	[Телефон] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[id_клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Поставщики]    Script Date: 06.07.2023 1:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поставщики](
	[id_Поставщика] [int] IDENTITY(1,1) NOT NULL,
	[НаименованиеПоставщика] [nvarchar](100) NULL,
	[КонтактнаяИнформация] [nvarchar](100) NULL,
	[Примечание] [nvarchar](100) NULL,
 CONSTRAINT [PK_Поставщики] PRIMARY KEY CLUSTERED 
(
	[id_Поставщика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СистемаПодачиТоплива]    Script Date: 06.07.2023 1:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СистемаПодачиТоплива](
	[id_СистемыПодачиТоплива] [int] IDENTITY(1,1) NOT NULL,
	[СистемаПодачиТоплива] [nvarchar](100) NULL,
 CONSTRAINT [PK_СистемаПодачиТоплива] PRIMARY KEY CLUSTERED 
(
	[id_СистемыПодачиТоплива] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 06.07.2023 1:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[id_Сотрудника] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](100) NULL,
	[КодДолжности] [int] NULL,
	[ДатаРождения] [nvarchar](100) NULL,
	[ДатаПриёмаНаРаботу] [nvarchar](100) NULL,
	[Зарплата] [nvarchar](100) NULL,
	[Телефон] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Логин] [nvarchar](100) NULL,
	[Пароль] [nvarchar](100) NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[id_Сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СпособыОплаты]    Script Date: 06.07.2023 1:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СпособыОплаты](
	[id_СпособаОплаты] [int] IDENTITY(1,1) NOT NULL,
	[НазваниеСпособаОплаты] [nvarchar](100) NULL,
 CONSTRAINT [PK_СпособыОплаты] PRIMARY KEY CLUSTERED 
(
	[id_СпособаОплаты] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТестДрайв]    Script Date: 06.07.2023 1:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТестДрайв](
	[id_ТестДрайв] [int] IDENTITY(1,1) NOT NULL,
	[Дата] [date] NULL,
	[Время] [nvarchar](100) NULL,
	[КодАвтомобиля] [int] NULL,
	[СтатусВыполнения] [nvarchar](100) NULL,
	[Примечание] [nvarchar](100) NULL,
 CONSTRAINT [PK_ТестДрайв] PRIMARY KEY CLUSTERED 
(
	[id_ТестДрайв] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипДвигателя]    Script Date: 06.07.2023 1:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипДвигателя](
	[id_ТипаДвигателя] [int] IDENTITY(1,1) NOT NULL,
	[ТипДвигателя] [nvarchar](100) NULL,
 CONSTRAINT [PK_ТипДвигателя] PRIMARY KEY CLUSTERED 
(
	[id_ТипаДвигателя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Автомобили]  WITH CHECK ADD  CONSTRAINT [FK_Автомобили_Поставщики] FOREIGN KEY([КодПоставщика])
REFERENCES [dbo].[Поставщики] ([id_Поставщика])
GO
ALTER TABLE [dbo].[Автомобили] CHECK CONSTRAINT [FK_Автомобили_Поставщики]
GO
ALTER TABLE [dbo].[Автомобили]  WITH CHECK ADD  CONSTRAINT [FK_Автомобили_СистемаПодачиТоплива] FOREIGN KEY([КодСистемыПодачиТоплива])
REFERENCES [dbo].[СистемаПодачиТоплива] ([id_СистемыПодачиТоплива])
GO
ALTER TABLE [dbo].[Автомобили] CHECK CONSTRAINT [FK_Автомобили_СистемаПодачиТоплива]
GO
ALTER TABLE [dbo].[Автомобили]  WITH CHECK ADD  CONSTRAINT [FK_Автомобили_ТипДвигателя] FOREIGN KEY([КодТипаДвигателя])
REFERENCES [dbo].[ТипДвигателя] ([id_ТипаДвигателя])
GO
ALTER TABLE [dbo].[Автомобили] CHECK CONSTRAINT [FK_Автомобили_ТипДвигателя]
GO
ALTER TABLE [dbo].[Договоры]  WITH CHECK ADD  CONSTRAINT [FK_Договоры_Автомобили] FOREIGN KEY([КодАвтомобиля])
REFERENCES [dbo].[Автомобили] ([id_Автомобиля])
GO
ALTER TABLE [dbo].[Договоры] CHECK CONSTRAINT [FK_Договоры_Автомобили]
GO
ALTER TABLE [dbo].[Договоры]  WITH CHECK ADD  CONSTRAINT [FK_Договоры_Клиенты] FOREIGN KEY([КодКлиента])
REFERENCES [dbo].[Клиенты] ([id_клиента])
GO
ALTER TABLE [dbo].[Договоры] CHECK CONSTRAINT [FK_Договоры_Клиенты]
GO
ALTER TABLE [dbo].[Договоры]  WITH CHECK ADD  CONSTRAINT [FK_Договоры_Сотрудники] FOREIGN KEY([КодСотрудника])
REFERENCES [dbo].[Сотрудники] ([id_Сотрудника])
GO
ALTER TABLE [dbo].[Договоры] CHECK CONSTRAINT [FK_Договоры_Сотрудники]
GO
ALTER TABLE [dbo].[Договоры]  WITH CHECK ADD  CONSTRAINT [FK_Договоры_СпособыОплаты] FOREIGN KEY([КодСпособаОплаты])
REFERENCES [dbo].[СпособыОплаты] ([id_СпособаОплаты])
GO
ALTER TABLE [dbo].[Договоры] CHECK CONSTRAINT [FK_Договоры_СпособыОплаты]
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники_Должности] FOREIGN KEY([КодДолжности])
REFERENCES [dbo].[Должности] ([id_Должности])
GO
ALTER TABLE [dbo].[Сотрудники] CHECK CONSTRAINT [FK_Сотрудники_Должности]
GO
ALTER TABLE [dbo].[ТестДрайв]  WITH CHECK ADD  CONSTRAINT [FK_ТестДрайв_Автомобили] FOREIGN KEY([КодАвтомобиля])
REFERENCES [dbo].[Автомобили] ([id_Автомобиля])
GO
ALTER TABLE [dbo].[ТестДрайв] CHECK CONSTRAINT [FK_ТестДрайв_Автомобили]
GO
USE [master]
GO
